@use "global" as *;

.about__header {
  font-size: rem(40);
  font-family: $second-font-family;
  font-weight: $regular;
  line-height: 1;
  @include mq(md){
    font-size: rem(80);
    color: $white_pure;
    line-height: 1.25;
  }
}

