@use "global" as *;

.about__btn {
  margin-top: rem(24.8);
  margin-right: rem(13);
  display: flex;
  justify-content: center;
  @include mq("md") {
    margin-top: rem(40);
    margin-right: 0;
  }
}

.about__btn .btn {
  display: inline-block;
}