@use "global" as *;

.about__image-background {
  width: 81.5%;
  height: rem(186);
  aspect-ratio: 281 / 186;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: rem(95);
  left: rem(68);
  @include mq(md){
    height: rem(581);
    aspect-ratio: 880 / 581;
    left: rem(200);
    top: rem(40);
  }
}