@use "global" as *;

.blog {
  @include mq("md") {
    background-image: url("/assets/images/top_blog_pc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-size: 100% 50%;
    aspect-ratio: 1440 / 500;
  }
}