@use "global" as *;

.blog__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(44.8);
  margin: auto;
  
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(40);
    row-gap: rem(40);  
  }
}