@use "global" as *;

.blog__card {
  background-color: $white_pure;
  padding: rem(16) rem(17) rem(24);
  box-shadow: 4px 4px 10px 0px $off_white;
}

.blog__card.card  {
  @include mq("md") {
    // min-height: rem(447); 
    padding: rem(18);
  }
  
}