@use "global" as *;

.btn {
  display: inline-block;
  position: relative;
}

.btn::after {
  content: "";
	position: absolute;
	width: rem(202);
	height: rem(54);
  right: 0;
  bottom: 0;
  border: 1px solid $main-accent-color;
  position: absolute;
  left: rem(6);
	top: rem(4);
}