@use "global" as *;

.campaign-card__category {
  font-size: rem(12);
  line-height: 1;
  color: $main-accent-color;
  padding: rem(8) rem(11.5);
  margin-bottom: rem(4);
  border: 1px solid $main-accent-color;
  display: inline-block;
  @include mq(md){
    padding: rem(10) rem(16.5);
  }
}
