@use "global" as *;

.campaign-card__price {
  font-family: $font-family-lato;
  font-weight: $bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: rem(16);
  width: 100%;
  margin-top: rem(5.7);
  @include mq(md){
    gap: rem(30);
    margin-top: rem(7);
  }
}
