@use "global" as *;

.campaign-card__text {
  font-size: rem(14);
  line-height: 1.714;
  font-weight: $medium;
  text-align: center;
  margin-top: rem(8);
  width: 100%;
  @include mq(md){
    margin-top: rem(17);
    font-size: rem(16);
    line-height: 1.5;
    padding-right: rem(12);
  }
}
