@use "global" as *;

.card__text {
  font-weight: $regular;
  line-height: 1.5;
  color: $main-font-color;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
}
