@use "global" as *;

.card__header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: rem(3);
  @include mq("md") {
    width: rem(276);
    margin-top: rem(21);
  }
}
