@use "global" as *;

.contact__map-main {
  margin-top: rem(16);
  width: 100%;
  margin-inline: auto;
  background-color: $off_white;
  width: rem(295);
  aspect-ratio: 295 / 160;
  box-shadow: 2px 2px 0px 0 rgba($off_white, 0.5);
  @include mq("md") {
    margin-top: rem(0);
    width: rem(273);
    aspect-ratio: 273 / 148;
  }
}

.contact__map-main iframe {
  width: 100%;
  margin-inline: auto;
  width: rem(295);
  aspect-ratio: 295 / 160;
  @include mq("md") {
    width: rem(273);
    aspect-ratio: 273 / 148;
  }
}