@use "global" as *;

.drawer-menu {
  overflow-y: auto;
}
.drawer-menu__inner {
  align-items: center;
  height: inherit;
  width: 100%;
  min-height: rem(600);
  display: flex;
  flex-direction: column;
}
