@use "global" as *;

// 本体のスクロール制御用のクラス
body.is-drawer-active {
  overflow: hidden;
}

.drawer-menu {
  background-color: $main-accent-color;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 4000;
  overflow-y: auto;
}