@use "global" as *;

.fv__loading-image {
  flex: 1;
  background-size: cover;
  transform: translateY(100%);
  aspect-ratio: 187.5 / 667;
  @include mq("md") {
    aspect-ratio: 720 / 768;
    
  }
}

.fv__loading-image--left {
  background-image: url("/assets/images/top_fv_sp_01.jpg");
  animation: slideUpLeft 2s 3.2s forwards;
  background-position: left center;
  background-size: 200% 100%;
  @include mq(md){
    background-image: url("/assets/images/top_fv_pc_01.jpg");
  }
}

.fv__loading-image--right {
  background-image: url("/assets/images/top_fv_sp_01.jpg");
  animation: slideUpRight 2s 3.4s forwards;
  background-position: right center;
  background-size: 200% 100%;
  @include mq(md){
    background-image: url("/assets/images/top_fv_pc_01.jpg");
  }
}

@keyframes slideUpLeft {
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpRight {
  to {
    transform: translateY(0);
  }
}
