@use "global" as *;

.fv__loading-image {
  flex: 1;
  background-size: cover;
  transform: translateY(100%);
  aspect-ratio: 187.5 / 667;
  @include mq("md") {
    aspect-ratio: 720 / 768;
  }
}

.fv__loading-image--left {
  background-image: url("../images/top_fv_sp_01.jpg");
  background-position: left center;
  background-size: 200% 100%;
  @include mq(md){
    background-image: url("../images/top_fv_pc_01.jpg");
  }
}

.fv__loading-image--right {
  background-image: url("../images/top_fv_sp_01.jpg");
  background-position: right center;
  background-size: 200% 100%;
  @include mq(md){
    background-image: url("../images/top_fv_pc_01.jpg");
  }
}
