@use "global" as *;

.fv__loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  transition: opacity 2s;
}

.fv__loading.is-animation {
  position: fixed;
}

スクロール禁止のスタイルを削除
body.is-loading {
  position: fixed;
  width: 100%;
  top: 0;
}