@use "global" as *;

.header-item__links {
  height: inherit;
}

.header-item__links a {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 rem(20);
}
