@use "global" as *;

.header {
  background: rgba($main-font-color, $alpha: 0.68);
  height: rem(80);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 2s ease-in-out;

  @include mq("md") {
    height: rem(90);
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
    // transition: 'opacity 2s ease-in-out',
  }
}