@use "global" as *;

.information__text {
  width: 99%;
  font-weight: $regular;
  margin-top: rem(9.6);
  line-height: 1.5;
  @include mq("md") {
    width: 100%;
    margin-top: rem(8);
    color: $black_pure;
  }
}