@use "global" as *;

.information-layout {
  background: $blue-white;
  margin-top: rem(70);
  // margin-bottom: rem(80);
  padding-top: rem(75);
  padding-bottom: rem(80);
  @include mq("md") {
    margin-top: rem(164);
    padding-top: rem(100);
  }
}