@use "global" as *;

.slick-track {
  display: flex;
}

.slick-track:before,
.slick-track:after {
  content: none;
}

.slick-slide {
  float: none;
  height: auto;
}

.campaign-card__content {
  height: 100%;
}