@use "global" as *;

.menu-list__item {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(24);
  }
}

// .menu-list__item--about-us {
//   margin-top: rem(35);
//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }

// .menu-list__item--diving {
//   margin-top: rem(33);
//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }

// .menu-list__item--blog {
//   margin-top: rem(34);
//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }

// .menu-list__item--price {
//   margin-top: rem(34);
//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }

// .menu-list__item--faq {
//   margin-top: rem(34);
//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }

// .menu-list__item--privacy {
//   margin-top: rem(35);
//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }

// .menu-list__item--terms {
//   margin-top: rem(38);
//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }

// .menu-list__item--contact {
//   margin-top: rem(34.8);
//   @include mq("md") {
//     margin-top: rem(40);
//   }
// }

.menu-list-main__link {
  color: $white_pure;
  font-weight: $bold;
  font-size: rem(16);
  line-height: 0.8;
  position: relative;
}

.menu-list-main__link::before {
  background-image: url("../images/common/common_hitode.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: rem(18);
  height: rem(18);
  content: "";
  position: absolute;
  margin-left: rem(-24);
}

.menu-list-main__link:hover {
  opacity: 0.7;
}

.menu-list-sub__item {
  margin-top: rem(18);
  margin-left: rem(2);
  @include mq("md") {
    margin-top: rem(24);
    margin-left: 0;
  }
}

.menu-list-sub__link {
  color: $white_pure;
}

.menu-list-sub__link:hover {
  opacity: 0.7;
}


