@use "global" as *;

.price__list-item {
  display: flex;
  justify-content: space-between;
  margin-top: rem(8);
  font-size: rem(14);
  line-height: 1.714;
  color: $main-font-color;
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(16);
    line-height: 1.5;
  }
}