@use "global" as *;

.price-btn__layout--center {
  margin-top: rem(40);
  display: flex;
  justify-content: center;
  @include mq("md") {
    margin-top: rem(94);
  }
}

.price-btn__layout--center .btn {
  display: inline-block;
}