@use "global" as *;

.section-title__main {
  line-height: 1.25;
  font-size: rem(32);
  font-family: $second-font-family;
  font-weight: $regular;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.section-title__main::first-letter {
  text-transform: capitalize;
  color: $main-accent-color;
}