@use "global" as *;

.voice-card__text {
  font-weight: $regular;
  line-height: 1.5;
  color: $main-font-color;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  overflow: hidden;
  @include mq("md") {
    -webkit-line-clamp: 7;
    line-clamp: 7;
  }
}
