@use "global" as *;

.voice__inner {
  position: relative;
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    background-image: url("../images/common/common_fishes_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(301);
    aspect-ratio: 301 / 138;
    position: absolute;
    left: calc(50% - min(43vw, 38.5rem));
    top: rem(-122);

  }
}

.voice__inner::after {
  @include mq("md") {
    content: "";
    background-image: url("../images/common/common_tatsu.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(71);
    aspect-ratio: 71 / 162;
    position: absolute;
    bottom: rem(-64);
    right: rem(24);
  }
}
